@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1{
	font-family: 'Jost';
}
a{
	font-family: 'Bungee';
}

.fondo{
	background-image: url(./img/fondo1.jpg);
	height: 500px;
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
}
.efect-blur{
	border-radius: 40px;
	backdrop-filter: blur(4px);
}
.formulario{
  border-radius: 15px;
  background-color: rgb(251, 244, 195);
  text-align: start;
  padding: 10px;
	max-width: 700px;
}